@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 100% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 205 100% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 205 100% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 82% 74%;
    --primary-foreground: 222.9 64.3% 15.1%;
    --secondary: 215 27.9% 90%;
    --secondary-foreground: 222.9 64.3% 15.1%;
    --muted: 215 27.9% 90%;
    --muted-foreground: 223.4 39.7% 25.1%;
    --accent: 174 45% 53%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 20.2% 65.1%;
    --input: 215 20.2% 65.1%;
    --ring: 207 82% 74%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 30% 10%;
    --foreground: 210 20% 98%;
    --card: 210 30% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 210 30% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 207 82% 74%;
    --primary-foreground: 222.9 64.3% 15.1%;
    --secondary: 215 27.9% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 17%;
    --muted-foreground: 217.9 16.2% 62.4%;
    --accent: 174 45% 53%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 215 27.9% 17%;
    --input: 215 27.9% 17%;
    --ring: 207 82% 74%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
